:root {
    --main-bgcolor: #2F303A;
    --main-white-bgcolor: white;
    --secondary-white-bgcolor: #F5F4FA;

    --black-text-color: #212121;
    --white-text-color: #ffffff;
    --accent-color: #2196F3;
    --primary-text-color: #757575;

    --logo-black-color: #000000;
}

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


body {
    color: var(--primary-text-color);
    background-color: var(--main-white-bgcolor);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-text-color);
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 1px solid red; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* header */

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.page-header .container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;

    align-items: center;
}

.logo {
    color: var(--logo-black-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-right: 93px;
}

.logo-accent {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.header-contacts-item:not(:last-child) {
    margin-right: 40px;
}

.nav-list-link,
.header-contacts-list-link {
    color: var(--black-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts-list-link {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}


.nav-list-link:hover,
.nav-list-link:focus,
.header-contacts-list-link:hover,
.header-contacts-list-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);

}


.nav-list-link::after {
    content: '';

    position: absolute;

    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover::after,
.nav-list-link:focus::after {
    transform: scaleX(1);
}

.current::after {
    transform: scaleX(1);
}

/* main page */

/* banner section */

.banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-bgcolor);
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner .container {

    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center;
}

.banner-title {
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-align: center;

    width: 700px;
}

.banner-btn {
    color: var(--white-text-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    border-radius: 4px;
    border-color: transparent;
    padding: 10px 24px;
    margin-top: 30px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.banner-btn:hover,
.banner-btn:focus {
    color: var(--accent-color);
    background-color: var(--white-text-color);
}

/* pluses section */

.pluses {
    padding-bottom: 0;
}


.pluses-list {
    display: flex;
}

.pluses-item {
    width: 270px;
}

.pluses-item:not(:last-child) {
    margin-right: 30px;
}

.bg-svg {
    background-color: var(--secondary-white-bgcolor);
    width: 270px;
    height: 120px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.pluses-list-title {
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 10px;
}

.pluses-list-description {
    font-size: 14px;
    line-height: 1.71;
}

/* what we do / service */

.service-title {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;

    margin-bottom: 50px;
}

.img-list {
    display: flex;
}

.img-item:not(:last-child) {
    margin-right: 30px;
}

.img-wrap {
    position: relative;
}

.img-text-box {
    height: 70px;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0px;
}

.img-text {
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 1.14;
}

/* team section */

.team {
    background-color: var(--secondary-white-bgcolor);
}

.team-title {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;

    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-list-item {
    background-color: var(--main-white-bgcolor);

    padding-bottom: 30px;

    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list-description {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    margin-bottom: 16px;
}

.team-socmedias-list {
    display: flex;
    justify-content: center;
}

.team-socmedias-item:not(:last-child) {
    margin-right: 10px;
}

.team-socmedias-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-socmedias-icon {
    fill: currentColor;
}

.team-socmedias-link:hover,
.team-socmedias-link:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* clients */

.clients-title {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;

    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}


.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.client-icon  {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* portfolio page */

/* filter */

.filter {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.filter-btn {
    color: var(--black-text-color);
    background-color: var(--secondary-white-bgcolor);

    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    padding: 6px 22px;
    border-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-item:not(:last-child) {
    margin-right: 8px;
}


.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* gallery */

.examples-title {
    visibility: hidden;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 370px;

    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}

.gallery-item:hover,
.gallery-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item-wrap {
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.gallery-item:not(:nth-of-type(3n)) {
    margin-right: 30px;
}

.gallery-item:not(:nth-last-of-type(-n+3)) {
    margin-bottom: 30px;
}

.example-thumb {
    position: relative;

    overflow: hidden;
}

.example-overlay {
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    color: var(--white-text-color);
    
    font-size: 18px;
    line-height: 1.56;
}

.gallery-item:hover .example-overlay {
    transform: translateY(0);
}

.gallery-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.gallery-item-description {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}

/* footer */

footer {
    background-color: var(--main-bgcolor);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrapper {
    display: flex;
}

.footer-logo {
    color: var(--white-text-color);

    display: inline-block;
    margin-bottom: 20px;
}

.footer-address {
    color: var(--white-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts-item {
    margin-top: 9px;
}

.footer-contacts-list-link {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;
}

.join-us {
    margin-left: 70px;
    margin-top: 12px;
}

.join-us-title {
    color: var(--white-text-color);

    font-size: 14px;
    line-height: 16px;

    margin-bottom: 20px;
}

.footer-socmedias-list {
    display: flex;
}

.footer-socmedias-item:not(:last-child) {
    margin-right: 10px;
}

.footer-socmedias-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-socmedias-icon {
    fill: currentColor;
}

.footer-socmedias-link:hover,
.footer-socmedias-link:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* modal */


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: var(--main-white-bgcolor);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.5);
} 

.modal-close-btn {
    position: absolute;

    right: 8px;
    top: 8px;

    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-white-bgcolor);
    fill: var(--logo-black-color); 

    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: var(--accent-color);

    transform: scale(1.3);
    
}

 /* .close-img {
    fill: currentColor;
}  

.close-img:hover,
.close-img:focus {
    color: var(--accent-color);
} */


.modal-title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    margin-bottom: 30px;
}


.form-input {
    position: relative;

    margin-bottom: 28px;
}

.form-input-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--black-text-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-field:focus-within {
    border: 1px solid var(--accent-color);
}

.form-label {
    position: absolute;
    display: block;

    top: -40%;
    left: 0%;


    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-icon {
    position: absolute;

    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-block;

    fill: var(--black-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-field:focus-within ~ .modal-icon {
    fill: var(--accent-color);
}

.textarea >.form-input-field {
    resize: none;
    padding: 15px;
    height: 120px;
}

.textarea >.form-input-field::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.textarea > .form-label {
    top: -15%;
}

.modal-checkbox {
    display: flex;
    margin-bottom: 30px;
}

.modal-checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    
}

.modal-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
}

.modal-checkbox-text > a {
    color: var(--accent-color);
}

.icon-checkbox {
    width: 16px;
    height: 15px;

    border: 2px solid var(--black-text-color);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.icon-checkbox svg {
    fill: transparent;
}

.modal-checkbox-input:checked +label>span {
    border: none;
    background-color: var(--accent-color);

}

.modal-checkbox-input:checked +label>span svg {
    fill: var(--white-text-color);
}

.modal-button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    border: none;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        
    font-weight: 700;
    font-size: 1.88;
    line-height: 30px;
    letter-spacing: 0.06em;

    transform: scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-button:hover,
.modal-button:focus {
    transform: scale(1.1);
}

.modal-center-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center;
}