:root {
    --main-bgcolor: #2F303A;
    --main-white-bgcolor: white;
    --secondary-white-bgcolor: #F5F4FA;

    --black-text-color: #212121;
    --white-text-color: #ffffff;
    --accent-color: #2196F3;
    --primary-text-color: #757575;

    --logo-black-color: #000000;
}

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

body {
    color: var(--primary-text-color);
    background-color: var(--main-white-bgcolor);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}



/* header */

.logo {
    color: var(--logo-black-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent {
    color: var(--accent-color);
}

.nav-list-link,
.header-contacts-list-link {
    color: var(--black-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts-list-link {
    color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-contacts-list-link:hover,
.header-contacts-list-link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}



/* main page */

/* banner section */

.banner {
    background-color: var(--main-bgcolor);
}

.banner-title {
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-align: center;
}

.banner-btn {
    color: var(--white-text-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}


.banner-btn:hover,
.banner-btn:focus {
    color: var(--accent-color);
    background-color: var(--white-text-color);
}

/* pluses section */

.pluses-list-title {
    font-size: 14px;
    line-height: 1.14;
}

.pluses-list-description {
    font-size: 14px;
    line-height: 1.71;
}

/* what we do / service */

.service-title {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

/* team section */

.team {
    background-color: var(--secondary-white-bgcolor);
}

.team-title {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

.team-list-item {
    width: 270px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

.team-list-description {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

/* portfolio page */

/* filter */

.examples-btn {
    color: var(--black-text-color);
    background-color: var(--secondary-white-bgcolor);

    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}


.examples-btn:hover,
.examples-btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* gallery */


.gallery-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery-item-description {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}

/* footer */

footer {
    background-color: var(--main-bgcolor);
}

.footer-logo {
    color: var(--white-text-color);
}

.footer-address {
    color: var(--white-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts-list-link {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts-list-link:hover,
.footer-contacts-list-link:focus {
    color: var(--accent-color);
}