.banner {
    
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-main-dark;

    

    & .container {
        height: 100%;
        display: flex;
        flex-direction: column;

        justify-content: center; 
        align-items: center;
    }

    &__title {
        color: $text-white;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;

        text-align: center;

        
    }
}

@media (max-width: 767px) {
    .banner {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../img/banner-tel.jpg);
        height: 400px;
        max-width: 480px;

        &__title {
            max-width: 360px;
        }
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .banner {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../img/banner-tel@2x.jpg);
            }
        }
}

@media (min-width: 768px) {
    .banner {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../img/banner-tab.jpg);
        max-width: 768px;
        padding: 118px 0 118px 0;

        &__title {
            width: 360px;
        }
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .banner {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../img/banner-tab@2x.jpg);
            }
        }
}

@media (min-width: 1200px) {
    .banner {
        height: 600px;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../img/banner-desk.jpg);

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
         .banner {
             background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                 url(../img/banner-desk@2x.jpg);
         }
     }
    

        &__title {
            font-size: 44px;
            line-height: 1.36;
            width: 700px;
        }
    }
}