.btn {
    color: $text-white;
    background-color: $accent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    border-radius: 4px;
    border-color: transparent;
    padding: 10px 24px;
    margin-top: 30px;

    transition: color $time-standard $cubic-standard,
                background-color $time-standard $cubic-standard;

    &:hover,
    &:focus {
        color: $accent;
        background-color: $text-white;
    }

    &.filter__btn {
        color: $text-black;
        background-color: $bg-sec-white;

        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.03em;

        padding: 6px 22px;

        transition: color $time-standard $cubic-standard,
                    background-color $time-standard $cubic-standard,
                    box-shadow $time-standard $cubic-standard;
    }

    &.filter__btn:hover,
    &.filter__btn:focus {
        color: $text-white;
        background-color: $accent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}