.contacts {
    @extend %list;
    .page-header & {
        display: none; 
    }

    .footer & {
        flex-direction: column
    }

    .footer &__item {
        margin-top: 8px;
    }
}

.contacts__link {
    @extend %link;
    color: $text-main;

    .menu-container &.tel {
        color: $accent;
    }

    .menu-container &__icon {
        display: none;
    }  
    
    .footer & {
        color: $footer-link;

        font-size: 14px;
        line-height: 1.71;
    }
}

.menu-container {
    & .contacts {
        display: none;
        flex-direction: column-reverse;
    }

    &.is-open .contacts {
        display: flex;
        margin-left: auto;
    }

    & .contacts__item:first-child {
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }

    & .contacts__item:last-child {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $accent;
    }

    &.is-open .contacts__icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .page-header .contacts{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 auto;

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }

        &__link {
            display: flex;
            align-items: center;

            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;

            transition: color $time-standard $cubic-standard;
        }

        &__icon {
            margin-right: 10px;
            fill: currentColor;
        }

        &__link:hover,
        &__link:focus {
            color: $accent;
        }
    }
}

@media (min-width: 1200px) {
    .page-header .contacts{
        flex-direction: row;
        align-items: center;

        &__item:not(:last-child) {
            margin-right: 40px;
            margin-bottom: 0;
        }

        &__link {
            font-size: 14px;
            line-height: 1.14;
        }
    }
}
