.contacts {
    @extend %list;
    display: flex;
    
    .menu-container.is-open & {
        display: flex;
        margin-left: auto;
    }

    .menu-container & {
        display: none;
        flex-direction: column-reverse;
    }

    .menu-container &__item:first-child {
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }

    .menu-container &__item:last-child {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $accent;
    }

    .menu-container.is-open &__icon {
        display: none;
    }

    .footer & {
        flex-direction: column
    }

    .footer &__item {
        margin-top: 8px;
    }
}

.contacts__link {
    @extend %link;

    .menu-container & {
        color: $text-main;
    }

    .menu-container &.tel {
        color: $accent;
    }

    .menu-container &__icon {
        display: none;
    }  
    
    .footer & {
        color: $footer-link;

        font-size: 14px;
        line-height: 1.71;
    }
}

@media (max-width: 767px) {
    .page-header .contacts {
        display: none; 
    }
}