.gallery {
    @extend %list;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 370px;

        border: 1px solid $card-border;
    
        transition: box-shadow $time-standard $cubic-standard;
    }

    &__item:not(:nth-of-type(3n)) {
        margin-right: 30px;
    }

    &__item:not(:nth-last-of-type(-n+3)) {
        margin-bottom: 30px;
    }

    &__item:hover,
    &__item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__link {
        @extend %link;
    }

    &__text-wrap {
        padding-left: 24px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    &__text-title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        margin-bottom: 4px;
    }

    &__text-dscr {
        color: $text-main;

        font-size: 16px;
        line-height: 1.88;
    }

    &__thumb {
        position: relative;

        overflow: hidden;
    }

    &__overlay {
        background-color: $overlay;
        padding: 63px 24px;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transform: translateY(100%);
        transition: transform $time-standard $cubic-standard;
    }

    &__overlay-text {
        color: $text-white;
    
        font-size: 18px;
        line-height: 1.56;
    }

    &__item:hover &__overlay {
        transform: translateY(0);
    }

}