.img-list {
    @extend %list;
    display: flex;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__wrap {
        position: relative;
    }

    &__text-wrap {
        height: 70px;
        width: 370px;
        background-color: $img-list-color;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0px;
    }

    &__text {
        color: $text-white;
        font-size: 14px;
        line-height: 1.14;
    }

}