.join-us {
    margin-top: 60px;
    margin-bottom: 60px;

    &__title {
        color: $text-white;

        font-size: 14px;
        line-height: 16px;
        text-align: center;
    
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .join-us {
        margin-top: 5px;
    }
}