@media screen and (max-width: 767px) {
    .menu-btn {
        margin: 0 0 0 auto;
        border: none;
        background-color: transparent;
        color: $accent;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.js-open-menu {
            color: $text-black;
        }

        .icon-menu {
            fill: currentColor;
        }

        &.js-close-menu {
            color: $text-black;
        }

        .icon-close-menu {
            fill: currentColor;
        }
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}