.page-header {
    border-bottom: 1px solid #ECECEC; 
}

@media screen and (max-width: 767px) {
    .page-header {
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;

        &__container {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
    }
    
} 