.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC; 

    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

@media (min-width: 768px) {
    .page-header {
        padding-top: 21px;
        padding-bottom: 21px;
        
        & .container {
            display: flex;
        }

        &__navigation {
            display: flex;
            align-items: center;
        }
        }
}

@media (min-width: 1200px) {
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}