.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;

    & .container {
        display: flex;
        align-items: center;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }
}