.pluses-list {
    @extend %list;
    display: flex;

    &__item {
        width: 270px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__bg {
        background-color: $bg-sec-white;
        width: 270px;
        height: 120px;
        border-radius: 4px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 14px;
        line-height: 1.14;

        margin-bottom: 10px;
    }

    &__dscr {
        font-size: 14px;
        line-height: 1.71;
    }
}