.service {
    @include section();
    display: none;

    &__title {
        font-size: 36px;
        line-height: 1.17;

        text-align: center;

        margin-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .service {
        display: block;
    }
}