.socmedias {
    @extend %list;
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__icon {
        fill: currentColor;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        color: $socmedias-icon-color;

        transition: color $time-standard $cubic-standard,
                    background-color $time-standard $cubic-standard;
    }

    &__link:hover,
    &__link:focus {
        color: $text-white;
        background-color: $accent;
    }

    .footer & {
        justify-content: left;
    }

    .footer &__link {
        color: $text-white;
        background-color: $footer-socmedias;
    }

    .footer &__link:hover,
    .footer &__link:focus {
        color: $text-white;
        background-color: $accent;
    }
}