.team {
    @include section-mobile();
    background-color: $bg-sec-white;

    &__title {
        font-size: 28px;
        line-height: 1.18;

        text-align: center;

        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .team {
        @include section();

        &__title {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
        }
    }
    
}